body {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    background: #23252F;
}

.profile-small > img , .intro-profile > img {
    border-radius: 50%;
    object-fit: contain;
    align-self: center;
}

.top-nav {
    color: white;
    background-color: #1A1C23;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-small {
    margin-left: 100px;
    display: flex;
    gap: 20px;
}

.profile-small p {
    font-size: 18px;
}

.nav-bar-content {
    margin-right: 100px;
    display: flex;
    gap: 10px;
}

.nav-bar-content > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 19px;
    width: 100px;
    text-align: center;
    align-self:last baseline;
    height: 50px;
}

.top-nav img {
    height: 40px;
    border: 2px solid rgb(67, 67, 148);
}

.hireme {
    height: 40px;
    background-color: #56898D;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    color: white;
    width: 150px;
    border: none;
    border-radius: 7px;
    align-self: center;
    font-weight: bolder;
    font-size: 19px;
}

.intro-profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.intro-profile > h3 {
    font-weight: 500;
    font-size: 30px;
}

.intro-profile > h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 10px;
}

.intro-profile img {
    width: 180px;
    border: 3px solid #394C93;
}

.intro-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar-content > p:hover {
    background-color: #000000bf;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.7s;
}

.hireme:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(5px);
    color: yellow;
    background-color: #475895;
}

.lang-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lang-inner {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/*
    lang colours

    #E40F0F
    11CB72 -green
    133DDA -blue
    4ED60E -light green
    ECC436 - yellow
*/

.lang-container  p {
    font-weight: lighter;
    font-size: 1.4rem;
    font-family:  "Istok Web", sans-serif;
}

.java {
    color: #E40F0F;
}

.csharp {
    color: #11CB72;
}

.html {
    color: #133DDA;
}

.css {
    color: #4ED60E;
}

.javascript {
    color: #ECC436;
}

.lang-container p:hover {
    transition: 0.7s;
    background-color: #000000bf;
    color: rgb(144, 141, 141);
    cursor: pointer;
    width: 90px;
    display: flex;
    justify-content: center;
}

.lang-container .javascript:hover {
    width: 110px;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1A1C23;
}

.project-container > h1 {
    margin-top: 50px;
    color: white;
    font-weight: normal;
    font-size: 3rem;
}

.card-project {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    max-width: 80%;
    margin-bottom: 20px;
    background: #23252F;
    padding: 20px;
    border-radius: 8px;
    border: solid #06164C 2px;
}

.card-project > img {
    width: 300px;
    max-height: 250px;
    object-fit: contain;
    border-radius: 9px;
    border: solid #314ca5 3px;
}

.card-project > img:hover {
    border: solid white 1px;
}

.card-project p {
    text-align: justify;
    max-width: 500px;
    font-weight: normal;
    font-size: 17px;
    color: white;
    font-family: "Roboto", sans-serif;
    word-spacing: 1px;
    line-height: 30px;
    letter-spacing: 2px;
}


.card-project h3 {
    align-self: center;
    text-align: justify;
    max-width: 500px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: "Istok Web", sans-serif;
    word-spacing: 1px;
}

.text-section {
    display: flex;
    flex-direction: column;
}
.card-project  button {
    font-family: "Istok Web", sans-serif;
    align-self: center;
    width: 140px;
    height: 40px;
    font-weight: normal;
    color: white;
    border: solid #06164C 2px;
    border-radius: 7px;
    background-color: #56898D;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; /* Adjust the shadow color and offset as needed */
}

.card-project button:hover {
    color: yellow;
    background-color: #475895;
    font-size: 24px;
    font-weight: bold;
    border: solid rgb(8, 8, 67) 2px;
    scale: 1;
    transition: 0.1s;
}

.contact-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 7px;
    background-color: #56898D;
    width: 140px;
    height: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    border: none;
}

.contact-btn:hover {
    transition: 0.7s;
    transition: transform 0.3s ease-in-out;
    transform: translate(-10px,-10px);
    color: yellow;
    scale: 1.3;
    background: #475895;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-section > p {
    text-align: justify;
    max-width: 800px;
    font-weight: normal;
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    word-spacing: 1px;
    line-height: 30px;
    letter-spacing: 2px;
}

.about-section > h2 {
    color: white;
    font-size: 45px;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    background: #1A1C23;
}

.contact-container h3 {
    font-size: 30px;
}

.contact-container > p {
    text-align: center;
}

.icon-container {
    display: flex;
    gap: 100px;
}

.contact-container img {
    width: 40px;
    padding: 20px;
    border-radius: 10px;
}

.contact-container img:hover {
    background-color: #47589592;
    transition: 0.7s;
}

